*{
    margin:0;
    padding: 20px;
}
html, body, .container {
    height: 100%;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template: 1fr 3fr / 1fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content" ;

}
.sidebar{
    grid-area: sidebar;
    background-color: red;
    display: flex;
    flex-flow: column nowrap;
    
}
.menu>div, .settings>div {
    border: black 2px solid;
}

.header {
    grid-area: header;
    background-color: blue;
}

.content {
    grid-area: content;
    background-color: yellow;
}
